# PyPower Python Tutorial : Basics

## Contents to be covered :
- Print statement in Python
- Variables in Python
- Datatypes in Python
- Various printing methods in Python
- Strings in Python
- If-Else in Python (Conditional Statements)
- Loops in Python
- Pattern printing in Python
- Lists in Python
- Tuples in Python
- Sets in Python
- Dictionary in Python
- Functions in Python
- Recursion in Python
- What Next!? Scope of Python

## Download Python Anaconda Distribution
### https://www.anaconda.com/products/individual

# print() statement in Python

In [93]:
print("Hello, World! print statement in Python")

Hello, World! print statement in Python

In [44]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [45]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [46]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [47]:
x = 5
y = "Hello, World!"

In [48]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [49]:
print("Hello, World!") #This is a comment

Hello, World!

In [50]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [51]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [52]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [53]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [54]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [55]:
x = "John"
# is the same as
x = 'John'

# Variables in Python

In [56]:
'''
Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
'''

'\nVariable Names\nA variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:\nA variable name must start with a letter or the underscore character\nA variable name cannot start with a number\nA variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )\nVariable names are case-sensitive (age, Age and AGE are three different variables)\n'

In [57]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-57-a23a3e8b2732>, line 10)

In [94]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [95]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# String Concatenation

In [96]:
x = "awesome"
print("Python is " + x) # Concate strings using + sign

Python is awesome

In [97]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [98]:
x = 5
y = 10
print(x + y) # Here both are integers,so sum is printed

15

In [99]:
x = 5
y = "John"
print(x + y) # One is String and one Integer, so ERROR will be raised

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [159]:
x = "awesome"

def myfunc():
      print("Python is " + x)

myfunc()

Python is awesome

In [160]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [161]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [162]:
x = "awesome"

def myfunc():
    global x    # How to use global variable 
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Variable data types in Python
- int
- float
- str
- complex

In [163]:
x = 5
print(type(x))

<class 'int'>

In [225]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(x,y,z,sep='  -->  ')

1  -->  2.8  -->  1j

In [165]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [166]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [167]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [168]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [169]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Typecating

In [170]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [171]:
import random

print(random.randrange(1, 10))

7

## Various Printing Methods in Python

In [1]:
# Example 1
print("Hello Guys, How are you?")

Hello Guys, How are you?

In [3]:
# Example 2
x = 5
print("x = ",x) # Default Seperation is 1 space, you can change using sep keyword

x =  5

In [5]:
# Example 2
x = 5; y= 10
print("x =",x,"y =",y)

x = 5 y = 10

In [4]:
# Example 3
x = 5; y= 10; z= 25
print("x =",x,"y =",y,"z =",z)

x value = 5 y value = 10 z value = 25

### Formatted String in Python 3

In [6]:
# Above methods becomes complex when we have more than 2 vaiables
# So concept of formatted string is introduced in Python 3

x = 5; y= 10; z = 25

print(f"x = {x} y = {y} z = {z}")

x = 5 y = 10 z = 25

### 'sep' and 'end' attributes of print statement

In [8]:
x = 5; y= 10; z= 25
print("x =",x,"y =",y,"z =",z, sep = ' $ ') # Now seperation will be <space>$<space>

x = $ 5 $ y = $ 10 $ z = $ 25

In [9]:
x = 5; y= 10
print("x =",x,"y =",y, sep = ' $ ',end='\nThis is end') # By default end is '\n'(new line)

x = $ 5 $ y = $ 10
This is end

In [10]:
x = 5; y= 10
print("x =",x,"y =",y, sep = ' $ ',end='This is end') # By default end is '\n'(new line)

x = $ 5 $ y = $ 10This is end

In [226]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x,y,z,sep="  ()  ",end="\nThis is end")

1  ()  2  ()  3
This is end

In [227]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x,y,z,w,sep="  ()  ")

1.0  ()  2.8  ()  3.0  ()  4.2

In [228]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x,y,z,sep=" -- ")

s1 -- 2 -- 3.0

In [11]:
for i in range(1,5): #Generates intergers between 1 and 5 (1 inclusive) = 1,2,3,4
    print(i)

1
2
3
4

In [13]:
for i in range(1,5):
    print(i,end="") #Now end=""

1234

In [16]:
for i in range(1,5):
    print(i,end="--> ")

1--> 2--> 3--> 4-->

# Strings in Python

In [175]:
print("Hello")
print('Hello')

Hello
Hello

In [234]:
a = "Hello"
print(a*3) # Prints 3 times

HelloHelloHello

In [231]:
a = "Hello - "
print(a*3)

Hello - Hello - Hello -

In [177]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [178]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## bool() function in Python

In [232]:
print(10 > 9)   # Returns Boolean value : True / False
print(10 == 9)
print(10 < 9)

True
False
False

In [233]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [181]:
print(bool("Hello"))
print(bool(15))

True
True

In [182]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [183]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [184]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [185]:
class myclass():
    def __len__(self):
      return 0

myobj = myclass()
print(bool(myobj))

False

In [186]:
def myFunction() :
    return True

print(myFunction())

True

In [187]:
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [188]:
x = 200
print(isinstance(x, int))

True

# List in Python

In [189]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [190]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [191]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

## Slicing in List

In [192]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [193]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [194]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [195]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [196]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

## Checking element in list : using in

In [197]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [198]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [199]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## append(), insert(), remove(), copy() functions on list

In [200]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [201]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [202]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

## pop, del in list

In [203]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [204]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [205]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [206]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [207]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [208]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [209]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [210]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [211]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [212]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# Python Tuples

In [214]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [215]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [216]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [217]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [218]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [219]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [220]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [221]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [222]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

### Add new elements in Tuple : ERROR

In [223]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [235]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [236]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [349]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [350]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Sets in Python 
### Set - A list with no duplicate elements

In [351]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [352]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
banana
cherry

In [353]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

## update and add function in set

In [354]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [355]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'mango', 'banana', 'cherry', 'apple', 'grapes'}

In [356]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## remove, pop, discard, clear methods

In [357]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [358]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [359]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [360]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [361]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #thisset no longer exists - ERROR

NameError: name 'thisset' is not defined

## Union operation on sets

In [407]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [408]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'b', 'c'}

In [409]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [410]:
''' 
Method	Description
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others
'''

' \nMethod\tDescription\nadd()\tAdds an element to the set\nclear()\tRemoves all the elements from the set\ncopy()\tReturns a copy of the set\ndifference()\tReturns a set containing the difference between two or more sets\ndifference_update()\tRemoves the items in this set that are also included in another, specified set\ndiscard()\tRemove the specified item\nintersection()\tReturns a set, that is the intersection of two other sets\nintersection_update()\tRemoves the items in this set that are not present in other, specified set(s)\nisdisjoint()\tReturns whether two sets have a intersection or not\nissubset()\tReturns whether another set contains this set or not\nissuperset()\tReturns whether this set contains another set or not\npop()\tRemoves an element from the set\nremove()\tRemoves the specified element\nsymmetric_difference()\tReturns a set with the symmetric differences of two sets\nsymmetric_difference_update()\tinserts the symmetric differences from this set and another\nunion()\tReturn a set containing the union of sets\nupdate()\tUpdate the set with the union of this set and others\n'

# Dictionaries in Python

In [447]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [448]:
x = thisdict["model"]
print(x)

Mustang

In [450]:
x = thisdict.get("model")
print(x)

Mustang

In [452]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [416]:
for x in thisdict:
    print(x)

brand
model
year

In [417]:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
2018

In [418]:
for x in thisdict.values():
    print(x)

Ford
Mustang
2018

In [419]:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 2018

In [420]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [421]:
print(len(thisdict))

3

In [422]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [423]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [424]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [425]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [426]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [453]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [454]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [455]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [492]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [493]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(child1)

{'name': 'Emil', 'year': 2004}

In [458]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# If-Else in Python - Conditional Statements in Python

In [459]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [460]:
a = 33
b = 200
if b > a:
print("b is greater than a")  # you will get an error

IndentationError: expected an indented block (<ipython-input-460-25432bc6c4e0>, line 4)

## elif in Python

In [494]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [495]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [496]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [497]:
if a > b: print("a is greater than b")

a is greater than b

In [498]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [499]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [500]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [501]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [502]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [503]:
a = 33
b = 200

if b > a:
    pass

# LOOPS in Python : FOR and WHILE LOOPS

In [505]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [506]:
i = 1
while i < 6:
    print(i)
    i += 1
    if i == 3:
        break
print("We are out of loop and i =",i)

1
2
We are out of loop and i = 3

In [507]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [508]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# For Loops

In [509]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [510]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [511]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [512]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [513]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [514]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [515]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [516]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [517]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [1]:
for x in [0, 1, 2]:
    pass

# Pattern Printing in Python

### Pattern printing becomes very easy in Python due to * operator

In [2]:
x = 5
print(x*3) # '*' is multiplication for numbers

15

In [3]:
x = "Hello"
print(x*3) # '*' prints multiple times for strings, lists etc

HelloHelloHello

In [4]:
# Right Angle with star
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *
* * * * *

In [5]:
# Star Pyramid
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1  # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [6]:
# Downward Triangle of Stars
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [7]:
# Number's Triangle
rows = 6
for num in range(rows):
    for i in range(num):
        print(num, end=" ")  # print number
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
rows = 5
b = 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

# Functions in Python

In [541]:
def my_function():
    print("Hello from a function")
    
# Function is not executed untill it is called

In [521]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [522]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [523]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [524]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [525]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [526]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [527]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [528]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry", "mango"]

my_function(fruits)

apple
banana
cherry
mango

In [529]:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [530]:
def myfunction(): # Empty Function
    pass

# Recursion in Python

In [531]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Arrays - using List

In [542]:
cars = ["Ford", "Volvo", "BMW"]
print(cars[1])

Volvo

In [543]:
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"

In [545]:
x = cars[0]
print(x)

Ford

In [547]:
l = len(cars)
print(l)

3

In [537]:
for x in cars:
    print(x)

Ford
Volvo
BMW

In [548]:
print(cars)
print()

cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW']

['Ford', 'Volvo', 'BMW', 'Honda']

In [549]:
cars.pop(1) # Returns the value

'Volvo'

In [550]:
cars.remove("Volvo")

ValueError: list.remove(x): x not in list

# Python - User Input

In [551]:
username = input("Enter username:")
print("Welcome , " + username)

Enter username:ABC
Welcome , ABC